@CHARSET "ISO-8859-1";

.fontStyle {
	font-family: sans-serif;
	font-style: normal;
	font-size: 14px;
}

.textStyle {
	text-align:center;
	padding: auto;
}

.output {
	width: 300px;
	word-wrap: break-word;
}

.inputTextArea {
	overflow: hidden;
	border: none;
	width: 400px;
}

.leftColumn {
	text-align: right;
	vertical-align: top;
}

.rightColumn {
	text-align: left;
}

.listbox {
	font-family: sans-serif;
	font-style: normal;
	font-size: 14px;
	margin: auto;
	height: 100px;
	width: 200px;
}

.listbox2 {
	font-family: sans-serif;
	font-style: normal;
	font-size: 14px;
	width: 200px;
}

.grid {
	margin: auto;
}

.gridTop {
	vertical-align: top;
}

.configTable {
	align: right;
}

.tableStyle {
	width: 400px;
	text-align: center;
}

.tableStyle td:nth-child(1) {
	width: 25%;
}
