@CHARSET "ISO-8859-1";

.fontStyle {
	font-family: sans-serif;
	font-style: normal;
	font-size: 14px;
}

.textStyle {
	text-align:center;
}

.leftColumn {
	text-align: right;
	vertical-align: top;
}

.rightColumn {
	text-align: left;
}

.listbox {
	font-family: sans-serif;
	font-style: normal;
	font-size: 14px;
	height: 80px;
	width: 150px;
}

.grid {
	margin: auto;
}

.gridTop {
	vertical-align: top;
}

.configTable {
	align: right;
}

.tableStyle {
	width: 400px;
	text-align: center;
}

.tableStyle td:nth-child(1) {
	width: 25%;
}
