@CHARSET "ISO-8859-1";

.gridClass {
	vertical-align: top;
	text-align: left;
}

.listbox {
	height: 80px;
	width: 150px;
}

.grid {
	margin: auto;
	vertical-align: top;
	text-align: center;
}

.gridComposition {
	text-align: center;
}

.configTable {
	align: right;
}